{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-primary">Admin Dashboard</h2>
</div>


<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-primary">Project Management</h2>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProjectModal">
        <i class="fas fa-plus"></i> Add New Project
    </button>
</div>



<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add New User</h5>
                <a href="{{ url_for('admin.add_user') }}" class="btn" style="background-color: #DC0000; color: white;">Add User</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View All Users</h5>
                <a href="{{ url_for('admin.show_users') }}" class="btn" style="background-color: #DC0000; color: white;">Show Users</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
